@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  min-height:100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background:
  radial-gradient(circle at top left,#60a5fa33,transparent 25%),
  radial-gradient(circle at bottom right,#1e40af22,transparent 30%),
  linear-gradient(135deg,#eff6ff,#ffffff,#dbeafe);
  color:#0f172a;
}

button{
  cursor:pointer;
}

input{
  outline:none;
}
